 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

 body {
     font-family: 'Poppins', sans-serif;
 }

 /* header-content */
 .greatest-show {

     margin-top: 50px;
     margin-left: 100px;
     margin-right: 100px;
     width: 1321px;
     height: 646px;
     background: #161616;
     border-radius: 30px;
     gap: 24px;
 }

 .main-header {
     display: flex;
 }

 .header-content {
     color: #FFFFFF;
     padding-left: 106px;
     padding-top: 111px;

 }

 .header-content h1 {
     font-weight: 700;
     font-size: 70px;
     line-height: 80px;
 }

 .header-content p {
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
 }

 .header-content button {
     width: 187px;
     height: 56px;
     left: 246px;
     background: #DD0000;
     color: white;
     border-radius: 5px;
     font-weight: 400;
     font-size: 20px;
     line-height: 23px;
     text-align: center;

 }

 span {
     padding-left: 10px;
 }

 .header-img img {
     width: 581px;
     height: 613px;
     padding-top: 33px;
     padding-right: 79px;
     filter: drop-shadow(30px -3px 4px #454546);
     transition: 0.5s;
 }

 .header-img img:hover {
     filter: drop-shadow(0px 0px 0px #454546);
 }

 /* menu */
 .main-blog {
     width: 312px;
     height: 312px;
     background: #161616;
     border-radius: 10px;
 }

 .blog-content {
     width: 252px;
     height: 252px;
     padding: 30px;

 }

 .blog-content button {
     width: 252px;
     height: 64px;
     background: #FFFFFF;
     border-radius: 10px;
     font-weight: 500;
     font-size: 20px;
     margin-top: 18px;

 }

 #blog {
     background-color: red;
     color: white;
 }

 .main {
     margin-top: 130px;
     margin-left: 100px;
     padding-top: 40px;
     display: flex;
     gap: 24px;
 }

 .transfer {
     width: 312px;
     height: 362px;
     border-radius: 10px;
     border: 1px solid rgb(204, 204, 204);
 }

 .transfer-img img {
     width: 312px;
     height: 175px;
     border-radius: 10px 10px 0px 0px;
 }

 .content {
     margin-left: 20px;
 }

 .content button {
     width: 100px;
     height: 32px;
     margin-top: 20px;
     font-weight: 500;
     font-size: 16px;
     color: #161616;
 }

 a {
     text-decoration: none;
     color: #161616;
 }

 .content p {
     font-weight: 600;
     font-size: 18px;

 }

 .duration {
     margin-top: -5px;
 }

 .fa-comment-dots {
     padding-left: 10px;
 }

 .transfer-live {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 24px;
     margin-right: 100px;
 }
 #view-all{
   
    display: none;
 }

 /* footer */
 .goal {
     position: absolute;
     margin-top: 130px;
     width: 1600px;
     height: 444px;
     left: 0px;
     background: #161616;

 }

 .goal h1 {
     font-weight: 600;
     font-size: 40px;
     text-align: center;
     color: #FFFFFF;

 }

 .goal-content {
     padding-top: 130px;

 }

 hr {
     width: 1320px;
     margin-left: 100px;
     margin-right: 100px;
     border: 1px solid rgba(255, 255, 255, 0.1);
 }

 ul {
     display: flex;
     color: white;
     justify-content: center;
     padding-top: 35px;
 }

 ul li {
     list-style: none;
     font-weight: 500;
     font-size: 16px;
     color: #B9B9B9;

 }

 li {
     padding: 20px;
 }

 .social {
     text-align: center;
     color: white;
     font-size: 25px;

 }

 .icon {
     padding: 10px;
 }

 /* upcoming match */
 .match {
     width: 312px;
     height: 242px;
     border-radius: 10px;
     border: 1px solid rgb(204, 204, 204);

 }

 .main-match-content {
     text-align: center;
 }

 #upcoming {
     background-color: red;
     color: white;
 }

 .country-img {
     display: flex;
     gap: 20px;
     margin-top: 50px;
     margin-left: 30px;
     align-items: center;


 }

 .country-img img {
     width: 93.04px;
     height: 56.18px;
 }

 .match-content h1 {
     font-weight: 600;
     font-size: 20px;
     color: #161616;
 }

 .match-content h5 {
     font-weight: 400;
     font-size: 16px;
     color: #4D4D4D;
 }

 /* responsive mobile */
 @media only screen and (max-width:688px) {

     .greatest-show {
         margin-top: 41px;
         margin-left: 13px;
         margin-right: 20px;
         width: 334px;
         height: 472px;
         background: #161616;
         border-radius: 30px;


     }

     .main-header {
         display: inline;

     }

     .header-content {
         color: #FFFFFF;
         padding-left: 37px;
         padding-top: 28px;
     }

     .header-content h1 {
         font-weight: 700;
         font-size: 20px;
         line-height: 33px;
         text-align: center;
         margin-right: 20px;
     }

     .header-content p {
         width: 258px;
         height: 48px;
         font-weight: 400;
         margin-top: -10px;
         font-size: 14px;
         line-height: 24px;
         text-align: center;
         overflow: hidden;
         text-overflow: ellipsis;
     }

     .header-content button {
         width: 161px;
         height: 40px;
         margin-left: 50px;
         font-size: 20px;
         border: none;

     }

     .header-img img {
         position: absolute;
         width: 233px;
         height: 245px;
         left: 84px;
         top: 235px;

     }

     .main {
         margin-top: 20px;
         margin-left: 20px;
         padding-top: 40px;
         display: flex;
         gap: 24px;
         flex-direction: column;
     }

     .main-blog {
         background-color: white;
     }

     .upcoming {
         background-color: white;
         border: 1px solid rgb(179, 177, 177)
     }

     #all-group {
         width: 160px;
         height: 48px;
         margin-left: 20%;
         border: 1px solid rgb(179, 177, 177)
     }

     #blog {
         width: 160px;
         height: 48px;
         margin-left: 20%;
         border: 1px solid rgb(179, 177, 177)
     }

     .transfer-live {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         gap: 24px;
         margin-right: 100px;
     }

     .goal {
         position: absolute;
         margin-top: 60px;
         width: 375px;
         height: 412px;
         left: 0px;
         background: #161616;

     }

     .goal-content {
         padding-top: 100px;
     }

     .goal-content h1 {

         margin-top: -10%;
         font-weight: 600;
         font-size: 22px;
         line-height: 33px;


     }

     hr {
         width: 335px;
         height: 0px;
         margin-left: 20px;
         margin-right: 20px;
         border: 1px solid rgba(255, 255, 255, 0.1);
     }

     ul {


         padding-top: 10px;
         padding-left: 0px;
         flex-direction: column;
         align-items: center;
         font-weight: 400;
         font-size: 10px;
         line-height: 10px;
         color: #B9B9B9;

     }

     ul li {
         padding: 13px;
     }

     .social {
         font-size: 20px;

     }
 }

 /* tablet devices */
 @media only screen and (min-width:689px) and (max-width:992px) {
     .greatest-show {

         margin-top: 50px;
         margin-left: 35px;
         margin-right: 50px;
         width: 734px;
         height: 398px;
         background: #161616;
         border-radius: 30px;

     }

     .header-content {
         padding: 40px;
         margin-left: 35px;
     }

     .header-content h1 {
         font-weight: 700;
         font-size: 40px;
         line-height: 50px;
     }

     .header-img img {
         width: 323px;
         height: 340px;
         padding-top: 58px;
         padding-right: 40px;
         filter: drop-shadow(30px -3px 4px #454546);
         transition: 0.5s;
     }

     .header-content p {
         width: 258px;
         height: 48px;
         font-weight: 400;
         margin-top: -10px;
         font-size: 14px;
         line-height: 24px;
         overflow: hidden;
         text-overflow: ellipsis;
     }
     .header-content button {
        width: 161px;
        height: 48px;
        left: 246px;
        background: #DD0000;
        color: white;
        border-radius: 5px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        border: none;
    }
    .main {
        margin-top: -30px;
        margin-left: 35px;
        padding-top: 40px;
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .tablet-blog {
       width: 800px;
       height: 120px;
       border-radius: 10px;
       background-color: white;
    
    }
    .tablet-content {
        margin-left: -25px;
        width: 800px;
        display: flex;
        flex-direction: row;
        display: flex;
        gap: 22px;
    }
    .tablet-content button{
        width: 230px;
        height: 64px;
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #161616;
    }
    .transfer-live {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-right: 50px;
    }
    .transfer {
        width: 357px;
        height: 414px;
        border-radius: 10px;
        border: 1px solid rgb(204, 204, 204);
    }
    .transfer-img img {
        width: 357px;
        height: 200px;
        border-radius: 10px 10px 0px 0px;
    }
    #view-all {
        /* display: none; */
        display: block;
        width: 161px;
        height: 48px;
        left: 246px;
        background: #DD0000;
        color: white;
        border-radius: 5px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        border: none;
        margin-top: 50px;
        margin-left: 351px;
    }

    .goal {
        position: absolute;
        margin-top: 30px;
        width: 834px;
        height: 345px;
        left: 0px;
        background: rgb(22, 22, 22);
    }
    .goal-content {
        padding-top: 10px;
    }
    hr {
        width: 734px;
        margin-left: 50px;
        /* margin-right: 100px; */
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    ul {
        padding-top: 10px;
        display: flex;
        color: white;
        /* text-align: center; */
        /* margin-right: 10px; */
        margin-left: -15px;
    }
    ul li {
        list-style: none;
        font-weight: 500;
        font-size: 14px;
        color: #B9B9B9;
    }
 }